@using MVC_CultuurHuisSelf.Models
@model MVC_CultuurHuisSelf.Models.Voorstelling
@{
    ViewBag.Title = "Reserveer";
}

<div class="jumbotron">
    <h1>Het Cultuurhuis <img src="~/Images/reserveren.png" alt="reserveren img"/>
    </h1>
    <p ><a href="@Url.Action("Index","Home")" class="btn btn-primary">Tickets kiezen &raquo;</a></p>
</div>
<h3 class="alert alert-info">Aantal tickets voor deze voorstelling</h3>

<form class=" form-horizontal" action="~/Home/Reserveer/@Model.VoorstellingsNr" method="post">
    <div class="form-group">
        <label class="col-md-2 control-label">Voorstelling</label>
        <div class="col-md-10">
            <p class="form-control-static">@Model.Titel</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Uitvoerders</label>
        <div class="col-md-10">
            <p class="form-control-static">@Model.Uitvoerders</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Datum</label>
        <div class="col-md-10">
            <p class="form-control-static">@Html.DisplayFor(m => m.Datum)</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Prijs</label>
        <div class="col-md-10">
            <p class="form-control-static">@Html.DisplayFor(m => m.Prijs)</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Vrije plaatsen</label>
        <div class="col-md-10">
            <p class="form-control-static">@Model.VrijePlaatsen</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Plaatsen</label>
        <div class="col-md-10">
            @{
                var aantal = 1;
                if (Session[Model.VoorstellingsNr.ToString()] != null)
                {
                    aantal = Convert.ToInt16(Session[Model.VoorstellingsNr.ToString()]);
                }
            }
            <input name="aantalPlaatsen" required="required" value="@aantal" type="number" min="1" max="@Model.VrijePlaatsen" class="form-control " />
        </div>
    </div>
    <div class="col-md-offset-2">
        <input type="submit" value="Reserveer" class="btn btn-default" />
    </div>
</form>