@using System.Web.UI.WebControls
@model GameCollection.Models.NewGame
@{
    ViewBag.Title = "addNewGame";
}



<div class="jumbotron glow">
    <div class="achterElkaar">
        <h2 >Game Collection -- Add Game </h2>
        <div>
            <a href="@Url.Action("Index","Home")" class="btn btn-primary">Collection  &raquo;</a>
        </div>
        <p>Add a game to your collection</p>
    </div>





</div>@if (ViewBag.errorMessage != null)
{
    <p class="alert-warning alert">@ViewBag.errorMessage</p>
    
}
@using (Html.BeginForm("addNewGame", "Home", FormMethod.Post))
{
    <div class="form-horizontal login glow">
        <div class="form-group">
            <label class="col-md-3">@Html.LabelFor(m => m.GameTitle):</label>
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.GameTitle)
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3">@Html.LabelFor(m => m.Console):</label>
            <div class="col-md-5">
             @Html.DropDownListFor(m => m.Console, new SelectList(Model.AlleConsoles, "Id", "ConsoleName"))
                
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3">@Html.LabelFor(m => m.Conditie):</label>
            <div class="col-md-5"> @Html.TextBoxFor(m => m.Conditie)</div>
        </div>

        <div class="form-group">
            <label class="col-md-3">@Html.LabelFor(m => m.Version):</label>
            <div class="col-md-5"> @Html.EnumDropDownListFor(m => m.Version)</div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-3 col-md-5">
                <button type="submit" class="btn btn-primary">Game Toevoegen</button>
            </div>
        </div>
        
        <div class="validation-summary-errors glow">@Html.ValidationSummary()</div>
    </div>


   

}

    
   





