@model GameCollection.Models.NewGame
@{
    ViewBag.Title = "addNewGame";
}



<div class="jumbotron">
    <div class="achterElkaar">
        <h2>Game Collection -- Game toevoegen</h2>
        <div>
            <a href="@Url.Action("Index","Home")" class="btn btn-primary">Collection  &raquo;</a>
        </div>
        <p>Voeg een game toe aan de collectie</p>
    </div>





</div>@if (ViewBag.errorMessage != null)
{
    <p class="alert-warning alert">@ViewBag.errorMessage</p>
    
}
@using (Html.BeginForm("addNewGame", "Home", FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2">@Html.LabelFor(m => m.GameTitle)</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.GameTitle)
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">@Html.LabelFor(m => m.Console)</label>
            <div class="col-md-5">
             @Html.DropDownListFor(m => m.Console, new SelectList(Model.AlleConsoles, "Id", "ConsoleName"))
                
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2">@Html.LabelFor(m => m.Conditie)</label>
            <div class="col-md-10"> @Html.TextBoxFor(m => m.Conditie)</div>
        </div>
        
          
        
        
       <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit">Game Toevoegen</button>
            </div>
        </div>
    </div>




}
<div class="validation-summary-errors">@Html.ValidationSummary()</div>



