@using GameCollection.Models
@model GameCollection.Models.GameInfo
@{
    ViewBag.Title = "Home Page";
}
@{
    var hidden = "";
    var show = "Display:none;";
    if (Session["user"] == null)
    {
        hidden = "Display:none;";
        show = "";
    }
    if (ViewBag.gekozenplatform != null)
    {
        var gekozenplatform = ViewBag.gekozenplatform.ToString();
    }


}


<div class="jumbotron @ViewBag.gekozenplatform">
    <div class="achterElkaar">
        <h2>Game Collection</h2>


    </div>

    <p style=@hidden>
        <a href="@Url.Action("AddNewGame", "Home")" class="btn btn-primary">Nieuwe Game toevoegen  &raquo;</a>
    </p>



</div>
<br />
<p style="@hidden">You now have a total of @Model.TotalGames games</p>
<!--Insert hier op welke console of platform je wil gaan filteren-->
<div class="dropdown" style=@hidden>
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Platform
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        @foreach (var platform in Model.Platformen)
        {
            <li><a href="@Url.Action("Index", "Home", new {id = platform.Id})">@platform.PlatformName</a></li>

        }
    </ul>
    <br />
</div>
@if (ViewBag.gekozenPlatform != null)
{
    <h2>@ViewBag.gekozenPlatform</h2>
    <ul class="nav nav-pills clearfix " style=@hidden>

        @foreach (var console in Model.ConsoleSoorten)
        {
            var URL = Url.Action("Index", "Home", new { consoleId = console.Id });

            if (Model.ConsoleSoort != null && Model.ConsoleSoort.ConsoleName == console.ConsoleName)
            {

                <li id="@console.ConsoleName" class="active clearfix">
                    <a href="@URL">
                        <div id="consoles" class="clearfix" >
                            <img src="~/Images/ConsoleIcons/@(console.ConsoleName).png" alt="@console.ConsoleName" width="50px" height="50px" />
                            <p>@console.ConsoleName</p>

                        </div>
                    </a>
                </li>

            }
            else
            {
                <li id="@console.ConsoleName">
                    <a href="@URL">
                        <div id="consoles" class="clearfix">
                            <img src="~/Images/ConsoleIcons/@(console.ConsoleName).png" alt="@console.ConsoleName" width="50px" height="50px" />
                            <p class="caption">@console.ConsoleName</p>
                        </div>
                    </a>
                </li>

            }


        }
    </ul>
    <br />
}

@if (Model.ConsoleSoort != null)
{




    if (Model.Games.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Condition</th>
                    <th>Version</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var game in Model.Games)
                {
                    <tr>
                        <td class="col-md-3">@game.Title </td>
                        <td class="col-md-2">@game.Conditie</td>
                        <td class="col-md-2">@game.Version</td>
                        <td class="col-md-3"><a href="@Url.Action("Details", "Home", new {title = game.Title, console = game.ConsoleNaam, version = game.Version})">Details</a></td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <p class="alert-warning alert">Er zijn geen games gevonden voor de soort "@Model.ConsoleSoort.ConsoleName"</p>
    }
}

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <div class="login" style=@show>


        <div class="form-horizontal" style=@show>
            <h3>Login:</h3>
            <div class="form-group">
                <label class="col-md-3">Username:</label>
                <input class="col-md-10" type="text" name="usernaam"/>
            </div>
            <div class="form-group">
                <label class="col-md-3">Password:</label>
                <input class="col-md-10" type="password" name="passwoord"/>
            </div>
            <div class="form-group">
                <input class="col-md-offset-3 col-md-10" type="submit" value="login"/>
            </div>


        </div>
    </div>
    if (Session["failed"] != null)
    {
        <p class="alert alert-warning">@Session["failed"].ToString()</p>
    }
}
